<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Fee</title>
    <link rel="icon" href="https://i.postimg.cc/kGVvWqPn/edit-user-1.png">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #3d6ef5ff;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        a {
            display: block;
            margin-top: 20px;
            color: #333;
            text-decoration: none;
            text-align: center;
        }

        a:hover {
            text-decoration: underline;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        button[type="submit"],
        button[type="button"] {
            width: 30%;
            background-color: #3d6ef5ff;
            color: #f2f2f2;
            font-weight: bold;
            padding: 8px 14px;
            border: none;
            font-size: 13px;
            border-radius: 5px;
            border: 2px solid #3d6ef5ff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover,
        button[type="button"]:hover {
            background-color: #f2f2f2;
            color: #3d6ef5ff;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <form action="/ssm/mca/updateExamFee/{{fee._id}}" method="post">
        <h1>Edit Fee Details:</h1>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{fee.name}}" disabled />

        <label for="examTotalFee">Total Fee:</label>
        <input type="text" id="examTotalFee" name="examTotalFee" value="{{fee.examTotalFee}}" required />

        <label for="examPendingFee">Pending Fee:</label>
        <input type="text" id="examPendingFee" name="examPendingFee" value="{{fee.examPendingFee}}" required />

        <label for="examPaymentStatus">Payment Status:</label></td>
        <select id="examPaymentStatus" name="examPaymentStatus" value="{{fee.examPaymentStatus}}" required>
            <option>Select Status</option>
            <option value="Paid">Paid</option>
            <option value="Pending">Pending</option>
        </select>

        <div class="button-container">
            <button type="button" onclick="history.back()">Back</button>
            <button type="submit">Update</button>
        </div>
    </form>
    <script>
        document.getElementById("examTotalFee").addEventListener("input", function() {
        this.value = this.value.replace(/\D/g, '');
        });
        document.getElementById("examPendingFee").addEventListener("input", function() {
        this.value = this.value.replace(/\D/g, '');
        });
    </script>

</body>
</html>
