<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Information</title>
    <link rel="icon" href="https://your-favicon-url.png">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            max-width: 1200px;
            margin: 20px auto; 
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: auto;  
        }

        h1 {
            text-align: center;
            color: #fff;
            background-color: #3d6ef5ff;
            border-radius: 5px;
            padding: 10px;
            margin: 0; 
        }

        h2 {
            color: #3d6ef5ff;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dee2e6;
            padding: 12px;
        }

        .td {
            text-align: center;
        }

        th {
            background-color: #3d6ef5ff;
            color: #fff;
        }

        .edit-icon, .delete-icon {
            text-decoration: none;
            color: #3d6ef5ff;
            transition: color 0.3s;
        }

        .edit-icon:hover, .delete-icon:hover {
            color: #0056b3;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 8px 14px;
            color: #fff;
            border: 2px solid #3d6ef5ff;
            background: #3d6ef5ff;
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.4s, color 0.4s;
        }

        .btn:hover {
            background: #fff;
            color: #3d6ef5ff;
        }

        .table-container {
            margin: 0 auto; 
            width: 80%; 
        }
        .back-button {
    position: absolute;
    top: 48px;
    left: 12%; 
    text-decoration: none;
}

.back-button img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
}
    </style>
</head>
<body>
<div class="container">
    <h1>TUTION FEES DETAILS</h1>
    <a href="/ssm/mca/dashboard" class="back-button">
        <img src="https://i.postimg.cc/Ghw7c3bx/back-button-white.png" alt="Go Back">
    </a>
    <div class="table-container">
        <h2>MCA - I</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Total Fee</th>
                <th>Pending Fee</th>
                <th>Payment Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {{#each firstYearStudents}}
            <tr>
                <td>{{name}}</td>
                <td class="td">Rs.{{totalFee}}</td>
                <td class="td">Rs.{{pendingFee}}</td>
                <td class="td">{{paymentStatus}}</td>
                <td class="td" style="font-weight: bold;"><a href="/ssm/mca/feeEdit/{{_id}}" class="edit-icon">Edit</a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="btn-container">
            <button class="btn" onclick="printFirstYearFee()">Print</button>
            <button class="btn" onclick="window.location.href = '/ssm/mca/downloadFirstYrTuFeePDF'">Download</button>
        </div>
    </div>

    <div class="table-container">
        <h2>MCA - II</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Total Fee</th>
                <th>Pending Fee</th>
                <th>Payment Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {{#each secondYearStudents}}
            <tr>
                <td>{{name}}</td>
                <td class="td">Rs.{{totalFee}}</td>
                <td class="td">Rs.{{pendingFee}}</td>
                <td class="td">{{paymentStatus}}</td>
                <td style="font-weight: bold;"><a href="/ssm/mca/feeEdit/{{_id}}" class="edit-icon">Edit</a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="btn-container">
            <button class="btn" onclick="printSecondYearFee()">Print</button>
            <button class="btn" onclick="window.location.href = '/ssm/mca/downloadSecondYrTuFeePDF'">Download</button>
        </div>
    </div>
    <div class="btn-container">
        <a class="btn" href="/ssm/mca/dashboard">< Go back!</a>
    </div>
</div>

<div id="printDiv" style="display:none;"></div>

<script>
    function printFirstYearFee() {
        var printWindow = window.open('', '_blank');
        
        var printContent = `
            <html>
            <head>
                <style>
                    body {
                        font-family: 'Arial', sans-serif;
                        background-color: #fff;
                        margin: 0; 
                        padding: 20px;
                    }

                    h1,h2,h3 {
                        color: #000; 
                        text-align: center;
                        margin-top: 20px;
                    }

                    table {
                        width: 100%; 
                        border-collapse: collapse;
                        margin-top: 20px;
                    }

                    th, td {
                        border: 1px solid #000; 
                        {{!-- text-align: center; --}}
                        padding: 12px;
                    }

                    .td {
                        text-align: center;
                    }
                </style>
            </head>
            <body>
                <h1>SSM COLLEGE OF ENGINEERING</h1>
                <h2>Department Of MCA - I</h2>
                <h3>Tution Fees Details</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Fee</th>
                            <th>Pending Fee</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each firstYearStudents}}
                        <tr>
                            <td>{{name}}</td>
                            <td class="td">Rs.{{totalFee}}</td>
                            <td class="td">Rs.{{pendingFee}}</td>
                            <td class="td">{{paymentStatus}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </body>
            </html>
        `;
        
        printWindow.document.write(printContent);
        printWindow.document.title = 'MCA-I Tution Fees Details';
        printWindow.document.close();
        printWindow.print();
    }

    function printSecondYearFee() {
        var printWindow = window.open('', '_blank');
        
        var printContent = `
            <html>
            <head>
                <style>
                    body {
                        font-family: 'Arial', sans-serif;
                        background-color: #fff; 
                        margin: 0; 
                        padding: 20px;
                    }

                    h1,h2,h3 {
                        color: #000;
                        text-align: center;
                        margin-top: 20px;
                    }

                    table {
                        width: 100%; 
                        border-collapse: collapse;
                        margin-top: 20px;
                    }

                    th, td {
                        border: 1px solid #000;
                        {{!-- text-align: center; --}}
                        padding: 12px;
                    }

                    .td {
                        text-align: center;
                    }
                </style>
            </head>
            <body>
                <h1>SSM COLLEGE OF ENGINEERING</h1>
                <h2>Department Of MCA - II</h2>
                <h3>Tution Fees Details</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Fee</th>
                            <th>Pending Fee</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each secondYearStudents}}
                        <tr>
                            <td>{{name}}</td>
                            <td class="td">Rs.{{totalFee}}</td>
                            <td class="td">Rs.{{pendingFee}}</td>
                            <td class="td">{{paymentStatus}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </body>
            </html>
        `;
        
        printWindow.document.write(printContent);
        printWindow.document.title = 'MCA-II Tution Fees Details';
        printWindow.document.close();
        printWindow.print();
    }
</script>


</body>
</html>
