<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Profile</title>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    background-color: #3d6ef5ff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1px 0;
    margin-bottom: 20px;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card h3 {
    margin-top: 0;
}
.card p {
    margin-bottom: 0;
}
.details {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.details.student-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.details.fees-details {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.details table {
    width: 100%;
    border-collapse: collapse;
}
.details th, .details td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.details th {
    background-color: #f2f2f2;
}
.details strong {
    font-weight: bold;
    color: #333;
}

.back-button {
    position: absolute;
    top: 40px;
    left: 12%; 
    text-decoration: none;
}

.back-button img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
}

.job-opportunities ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.job-opportunities li {
    margin-bottom: 10px;
}

.skills-needed {
    margin-top: 10px;
}

.skills-needed ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.skills-needed li {
    margin-bottom: 5px;
}
h3{
    text-align: center;
}
.job-opportunities {
    margin-top: 20px;
}

.job-opportunities h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #3d6ef5ff;
}

.job-opportunities h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: #333; 
}


.job-opportunities p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.job-opportunities ul {
    list-style-type: none;
    padding-left: 0;
}

.job-opportunities li {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.job-opportunities li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #3d6ef5ff;
}

.job-opportunities li strong {
    font-weight: bold;
    color: #333;
}

.job-opportunities li ul {
    list-style-type: none;
    padding-left: 20px;
}

.job-opportunities li ul li {
    margin-bottom: 5px;
}

</style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Profile</h1>
    </div>
    <div class="dashboard">
    <a href="/studentHome" class="back-button">
        <img src="https://i.postimg.cc/Ghw7c3bx/back-button-white.png" alt="Go Back">
    </a>
        <div class="card">
            <h3>Student Details</h3>
            <div class="details student-details">
                <table>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td>{{student.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Register Number:</strong></td>
                        <td>{{student.registerNumber}}</td>
                    </tr>
                    <tr>
                        <td><strong>Gender:</strong></td>
                        <td>{{student.gender}}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Of Birth:</strong></td>
                        <td>{{student.dob}}</td>
                    </tr>
                    <tr>
                        <td><strong>Year:</strong></td>
                        <td>{{student.year}}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td>+91 {{student.phone}}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{student.email}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <h3>Tution Fees Details</h3>
            <div class="details  fees-details">
                <table>
                    <tr>
                        <td><strong>Payment Status:</strong></td>
                        <td>{{student.paymentStatus}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount:</strong></td>
                        <td>Rs.{{student.totalFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Amount Due:</strong></td>
                        <td>Rs.{{student.pendingFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Due Date:</strong></td>
                        <td>{{student.tutionDueDate}}</td>
                    </tr>
                </table>
            </div>
            <h3>Exam Fees Details</h3>
            <div class="details fees-details">
                <table>
                    <tr>
                        <td><strong>Payment Status:</strong></td>
                        <td>{{student.examPaymentStatus}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount:</strong></td>
                        <td>Rs.{{student.examTotalFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Amount Due:</strong></td>
                        <td>Rs.{{student.examPendingFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Due Date:</strong></td>
                        <td>{{student.examDueDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <h3>Exam Fees Details</h3>
            <div class="details fees-details">
                <table>
                    <tr>
                        <td><strong>Payment Status:</strong></td>
                        <td>{{student.examPaymentStatus}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount:</strong></td>
                        <td>Rs.{{student.examTotalFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Amount Due:</strong></td>
                        <td>Rs.{{student.examPendingFee}}</td>
                    </tr>
                    <tr>
                        <td><strong>Due Date:</strong></td>
                        <td>{{student.examDueDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
        <div class="card">
            <h3 style="text-align: center; padding-bottom: 20px; color: #fff; font-size: 30px; background-color: #3d6ef5ff; padding-top: 18px; border-radius:5px ">JOB OPPORTUNITIES</h3>
            <h4 style="text-align: center;">Transform Your Master of Computer Application into a Rewarding Career</h4>
                <p style="text-align: center;">Explore various career paths after completing Master of Computer Application (MCA) and the skills needed for each:</p>
            <div class="details job-opportunities">
    <ul>
        <li>
            <strong style="color: #3d6ef5ff;">Software Developer/Engineer:</strong>
            <p>Developing, testing, and maintaining software applications for various platforms and purposes.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Programming languages (Java, C++, Python)</li>
                <li>Problem-solving</li>
                <li>Software development lifecycle</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">System Analyst:</strong>
            <p>Analyzing user requirements, designing system specifications, and overseeing the development of IT systems.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>System analysis</li>
                <li>Project management</li>
                <li>Communication</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Database Administrator:</strong>
            <p>Managing and maintaining databases to ensure their security, integrity, and performance.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Database management (SQL, Oracle)</li>
                <li>Data analysis</li>
                <li>Troubleshooting</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Network Administrator:</strong>
            <p>Configuring and managing network infrastructure, including servers, routers, and switches.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Networking protocols</li>
                <li>Security</li>
                <li>Troubleshooting</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Web Developer:</strong>
            <p>Creating and maintaining websites and web applications using programming languages like HTML, CSS, and JavaScript.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>Web development frameworks (React, Angular)</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Quality Assurance Analyst:</strong>
            <p>Testing software applications to ensure they meet quality standards and identifying and fixing defects.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Testing methodologies</li>
                <li>Quality assurance processes</li>
                <li>Problem-solving</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">IT Consultant:</strong>
            <p>Providing expert advice on IT solutions to businesses and organizations to help them improve efficiency and effectiveness.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Business analysis</li>
                <li>Technical expertise</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Project Manager:</strong>
            <p>Planning, executing, and managing IT projects to ensure they are completed on time and within budget.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Project planning</li>
                <li>Team management</li>
                <li>Risk management</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Technical Writer:</strong>
            <p>Creating documentation for software applications, including user manuals, technical guides, and FAQs.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Technical writing</li>
                <li>Documentation tools (MS Word, Adobe Framemaker)</li>
            </ul>
        </li>
        <li>
            <strong style="color: #3d6ef5ff;">Cyber Security Analyst:</strong>
            <p>Protecting computer systems and networks from cyber threats by implementing security measures and monitoring for security breaches.</p>
            <p><strong>Skills:</strong></p>
            <ul>
                <li>Cybersecurity tools</li>
                <li>Network security</li>
                <li>Threat analysis</li>
            </ul>
        </li>
    </ul>
</div>

        </div>
</div>
</body>
</html>
